* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; /* Menambahkan ini untuk menghindari masalah dengan padding dan margin */
}

.text-view1 {
  font-weight: 600;
  margin: 50px auto; /* Gabungan margin untuk vertikal dan horizontal */
  width: 50%;
  color: #000CA6;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1.4; /* Menambahkan line-height untuk spasi yang lebih baik */
}

.filters {
  color: #333; /* Menambahkan warna teks agar lebih terlihat */
}

hr {
  border: 1px solid #ccc; /* Menambahkan gaya border agar lebih terlihat */
  width: 100%; /* Memastikan garis horizontal memenuhi lebar container */
}

.card {
  cursor: pointer;
}

.card-text {
  color: #8f8f8f;
}

.card-link{
  text-decoration: none;
}

/* Warna tombol menjadi putih */
.btn-custom {
  background-color: #ffffff; /* Warna putih */
  color: #000000; /* Warna teks menjadi hitam */
  border-color: #000000; /* Warna border hitam */
}

/* Warna panah dropdown menjadi hitam */
.btn-custom::after {
  border-top-color: #000000; /* Warna hitam untuk panah */
}

/* Hover state */
.btn-custom:hover {
  background-color: #f8f9fa; /* Warna sedikit lebih gelap saat hover */
  color: #000000;
  border-color: #000000;
}

/* Active state */
.btn-custom:active, 
.btn-custom:focus,
.btn-custom.show {
  background-color: #ffffff; /* Tetap putih saat aktif atau fokus */
  color: #000000;
  border-color: #000000;
  box-shadow: none; /* Hilangkan shadow saat aktif */
}